In [1]:
import pandas as pd

In [2]:
# Series
from_list = pd.Series([1, 2, 3, 4, 5])

In [4]:
type(from_list)

pandas.core.series.Series

In [5]:
from_list = pd.Series([1, 2, 3, 4, 5], index=["a", "b", "c", "d", "e"])

In [6]:
from_list

a    1
b    2
c    3
d    4
e    5
dtype: int64

In [7]:
from_dict = pd.Series({"x" : 100, "y" : 200})

In [8]:
from_dict

x    100
y    200
dtype: int64

In [14]:
s = pd.Series([10, 20, 30, 40, 50], index=["a", "b", "c", "d", "e"])

In [10]:
type(s)

pandas.core.series.Series

In [12]:
original = s.to_dict()
original

{'a': 10, 'b': 20, 'c': 30, 'd': 40, 'e': 50}

In [15]:
s

a    10
b    20
c    30
d    40
e    50
dtype: int64

In [16]:
s.values.tolist()

[10, 20, 30, 40, 50]

In [18]:
s.index.to_list()

['a', 'b', 'c', 'd', 'e']

In [21]:
type(s.shape)

tuple

In [20]:
s.index.value_counts()

a    1
b    1
c    1
d    1
e    1
Name: count, dtype: int64

In [30]:
from_dict = pd.DataFrame({
    "name" : ("I" , "N", "T"),
    "age": [25, 30, 35],
    "city": ["Vizag", "Hyd", "Bangalore"]}
)

In [26]:
from_dict.head(5)

  name  age       city
0    I   25      Vizag
1    N   30        Hyd
2    T   35  Bangalore

In [33]:
from_dict = pd.DataFrame([
    {"name": "Innocito", "age": 25, "city": "Vizag", "country": "India"},
    {"name": "K", "age": 25, "city": "Vizag", "country": "India"},
])

In [34]:
from_dict

       name  age   city country
0  Innocito   25  Vizag   India
1         K   25  Vizag   India

In [36]:
type(from_dict.name)

pandas.core.series.Series